<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ThirdOrderMapper">
	
	
	<!-- 新增-->
	<insert id="saveThirdOrder" parameterType="java.util.Map">
		insert into third_order(
			TRANSACTION_ID,	
			OUT_TRADE_NO,			
			OUT_TRANSACTION_ID,
			PLUGIN_TYPE,
			FEE,
			RESULT_CODE,
			PAY_RESULT,
			PAY_INFO,
			PAY_TIME,
			VERSION,			
			CHANNEL_NO,
			IMSI,
			IMEI,
			CELL_MODEL,
			SDK_VERSION,
			VIP_TYPE,
			STATUS,
			VERSION_NO

		) values (
			#{transaction_id},	
			#{out_trade_no},			
			#{out_transaction_id},
			#{plugin_type},
			#{total_fee},
			#{result_code},
			#{pay_result},	
			#{pay_info},	
			#{time_end},
			#{version},
			#{channel_no},
			#{imsi},
			#{imei},
			#{cell_model},
			#{sdk_version},	
			#{vip_type},	
		  #{status},	
			#{version_no}
		)
	</insert>
		<!-- 新增-->
	<insert id="savePdThirdOrder" parameterType="pd">
		insert into third_order(
			TRANSACTION_ID,	
			OUT_TRADE_NO,			
			OUT_TRANSACTION_ID,
			PLUGIN_TYPE,
			FEE,
			RESULT_CODE,
			PAY_RESULT,
			PAY_INFO,
			PAY_TIME,
			VERSION,			
			CHANNEL_NO,
			IMSI,
			IMEI,
			CELL_MODEL,
			SDK_VERSION,
			VIP_TYPE,
			STATUS,
			VERSION_NO

		) values (
			#{transaction_id},	
			#{out_trade_no},			
			#{out_transaction_id},
			#{plugin_type},
			#{total_fee},
			#{result_code},
			#{pay_result},	
			#{pay_info},	
			#{time_end},
			#{version},
			#{channel_no},
			#{imsi},
			#{imei},
			#{cell_model},
			#{sdk_version},	
			#{vip_type},	
		  #{status},	
			#{version_no}
		)
	</insert>
	<!-- 修改 -->
	<update id="edit" parameterType="java.util.Map">
		update  third_order
			set 
				TRANSACTION_ID = #{transaction_id},
				STATUS = #{status}
			where 
				out_trade_no = #{out_trade_no}
	</update>
	
	<!-- 根据订单号获取数据 -->
	<select id="findByOrderNo" parameterType="pd" resultType="pd">
		select
				a.*			
		from 
				third_order a
		where 
				a.OUT_TRADE_NO =#{out_trade_no}

	</select>
	
		<!-- 根据订单号获取数据 -->
	<select id="findByWxOrderNo" parameterType="pd" resultType="pd">
		select
				a.*			
		from 
				third_order a
		where 
				a.TRANSACTION_ID =#{transaction_id}

	</select>
	<!-- 根据订单号获取数据 -->
	<select id="findNotCompleteOrder" parameterType="pd" resultType="pd">
		select
				a.*			
		from 
				third_order a
		where 
				a.STATUS =#{STATUS}
				AND A.ADD_TIME &gt;= DATE_SUB(CURRENT_TIMESTAMP(),INTERVAL 15 MINUTE)
				

	</select>	
</mapper>